<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The headlines of my carrier</h2>
                <hr class="light">
                <p class="text-faded">
					I finished high school in the USA, where I lived with my family during two years in Charlotte NC.<br />
					After that I came back to France, got my Engineer degree in Ecole Centrale de Nantes.<br />
					I did a PhD in robotics, after what I joined Extia where I <i>created</i> an innovation pole.
				</p>
                <a href="#portfolio" class="btn btn-default btn-xl">Portfolio of my projects</a>
            </div>
        </div>
    </div>
</section>
