<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>Here you will find my email and both my ReasearchGate and LinkedIn profiles</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.researchgate.net/profile/Georges_Pagis">
			<img src="https://www.researchgate.net/apple-touch-icon-180x180.png" alt="ReasearchGate" height="15" width="15"/>
            <!-- <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>ReasearchGate</p> -->
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
       <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.linkedin.com/profile/view?id=AAMAABHMAegBmIz93Zx5Y3NxpV14QGwRtXhntkA&trk=hp-identity-name">
			<img src="https://pbs.twimg.com/profile_images/614583061448036352/CBpFkPaz.png" alt="LinkedIn" height="15" width="15"/>
            </a>
        </div>

    </div>
</section>
