<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><font color="black">Georges Pagis</font><h1>
            <hr>
			<h2><font color="black">Website under construction</font></h2>
            <hr>
            <p><font color="black"><b>I am a French Engineer with a PhD in Robotics and Mechatronics.<br />
			Here you will find various informations about me and my work.</b></font></p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More About Myself</a>
			<hr>
			<h2><font color="black">My current job</font></h2>
			<p><font color="black">I currently work in the innovation pole of Extia, a French consulting firm. </p>	
            <a href="http://www.extia.fr/" class="btn btn-primary btn-xl page-scroll" target="_blank">Extia's website</a>		
        </div>
    </div>
</header>
